asgiref==3.9.2
distlib==0.4.0
Django==5.2.6
filelock==3.20.0
gunicorn==23.0.0
pillow==11.3.0
platformdirs==4.5.0
python-dotenv==1.1.1
requests==2.31.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.35.3
whitenoise==6.11.0
